 *{
      margin: 0;
      padding: 0;
      background-color: black;
    }

  body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
    #page {
      width: 100vw;
      height: 100vh;
      z-index: 1;
      background: black;
      overflow: hidden;
      
    }
  #triangle{
      border: solid 400px;
      background: black;
      border-color: transparent transparent orange transparent;
      position: absolute;
      width: 23%;
      height:30%;
      position: absolute;
      top:-400px;
      bottom: 0;
      left: 0;
      right: 0;
      
      cursor: pointer;
      
  }
    h1 {
      color: rgb(255,130,0);
      z-index: 3;
      position: absolute;
      left: 75px;
      bottom: 75px;
      border:1px solid white;
    }
    
  