*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
 
h1 {
    color: rgb(255,130,0);
    z-index: 3;
    position: absolute;
    left: 75px;
    bottom: 75px;
}
 
#page {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: black;
    overflow: hidden;
}
 
#sun {
    width: 200px;
    height: 200px;
    z-index: 2;
    border-radius: 0 0 0 100%;
    background: orange;
    position: absolute;
    top: -100;
    right: 0;
    transition: 1.5s;
}
